.header{
    background-color: #F6F8F9;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 17px;
	padding-left:20px ;
	z-index: 100;
}
.headerlogo{
	color: #FA6980;
	font-size: 13px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	margin-right: 50px;

}
.navigation{
	display: inline-block;
	vertical-align: middle;
}
.li1{
	display: inline-block;
}
.li2{
	display: inline-block;
	margin-right: 22px;
	margin-left: 27px;
}
.li3{
	display: inline-block;
}
.li4{
	display: inline-block;
	margin-right: 40px;
	margin-left: 22px;
}
.item{
	color:#343638;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
}

.headerimage{
	display: inline-block;
	vertical-align: middle;
}
.body{
	background-color: #F6F8F9;
}
.section1{
	margin-top: 90px;
}
.container1{
	margin: 0 auto;
	width: 1160px;
	height: 422px;
}
.heading1{
	color: #202124;
	font-size:24px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.div1{
	display: inline-block;
	vertical-align: middle;
	width: 360px;
	height: 350px;
	margin-top: 40px;
	background-color: #FFFFFF;	
}
.imagewrapper{
	position: relative;
	display: inline-block;
}
.image1{
	width: 360px;
}
.texton{
	position: absolute;
	font-size: 16px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	top: 28px;
	text-align: center;
	width: 280px;
	font-weight: bold;
}
.textimage{
	color: #A6ADB4;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	width: 280px;
	margin: 66px 40px 10px;
}
.timeimage{
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
}
.timetext1{
	color: #A6ADB4;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	vertical-align: middle;
}
.div2{
	display: inline-block;
	vertical-align: middle;
	width: 360px;
	height: 350px;
	margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
	background-color: #FFFFFF;
}
.image2{
	width: 360px;
	heigth: 180px;
}
.timetext2{
	color: #A6ADB4;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	vertical-align: middle;
}
.div3{
	display: inline-block;
	vertical-align: middle;
	width: 360px;
	height: 350px;
	margin-top: 40px;
	background-color: #FFFFFF;
}
.image3{
	width: 360px;
	heigth: 180px;
}
.timetext3{
	color: #A6ADB4;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	vertical-align: middle;
}
.headingdiv{
	width: 1160px;
	height: 20px;
	margin: 58px auto 40px;
}
.heading2{
	color: #202124;
	font-size:24px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.container2{
	margin: 0 auto;
	width: 1160px;
	height: 900px;
}
.imagewrapper2{
	display: inline-block;
	vertical-align: middle;
	width: 760px;
	height: 900px;
	margin-right: 40px;
}
.imagediv{
	display: inline-block;
	position: relative;
}
.image4{
	width: 760px;
	height: 430px;
}
.texton2{
	position: absolute;
	top: 194px;
	text-align: center;
	width: 760px;
	color: #FFFFFF;
	font-size: 16px;
    font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.image5{
	margin-top: 40px;
}

.imagewrapper3{
	display: inline-block;
	vertical-align: middle;
	width: 360px;
	height: 896px;
}
.image7{
	margin-top: 102px;
	margin-bottom: 102px;

}
